/Practica/nbproject/private/
/Practica/build/
/Telefono/nbproject/private/
/Telefono/build/
/Compras/nbproject/private/
/Compras/build/
/EvaluacionUnidad2/nbproject/private/
/MiUAM/nbproject/private/
/MiUAM/build/